<template>
<div class="row">
  <div class="mejorseguro col-12">
       <div class="h53">
            <nav class="navbar navbar-expand-lg justify-content-between py-1">
                <a class="navbar-brand p-0" href="https://qualitasseguros.mx/" target="_blank">
                    <img src="/img/QUALITAS-bco.svg" class="imlogoahorrasegurosnew" alt="Quálitas Seguros Autos" width="150" />
                </a>
                <span class="navbar-text d-none">
                   <a class="d-block no-text-decoration line-height-1" href="tel:+52 000 000 00" rel="nofollow" role="button">
                       <span class="d-inline-block">
                            <svg class="svg-inline--fa fa-phone fa-w-16 fa-2x text-success" data-fa-transform="shrink-8" data-fa-mask="text-white fas fa-circle" aria-hidden="true" data-prefix="fas" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><defs><clipPath id="clip-2"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></clipPath><mask x="0" y="0" width="100%" height="100%" id="mask-1" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse"><rect x="0" y="0" width="100%" height="100%" fill="white"></rect><g transform="translate(256 256)"><g transform="translate(0, 0)  scale(0.5, 0.5)  rotate(0 0 0)"><path fill="black" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z" transform="translate(-256 -256)"></path></g></g></mask></defs><rect fill="currentColor" clip-path="url(#clip-2)" mask="url(#mask-1)" x="0" y="0" width="100%" height="100%"></rect></svg>
                       </span>
                       <span class="d-inline-block">
                            <span class="d-block">
                                <span class="font-size-09">
                                    Lun a Sab/ 8am - 9pm
                                </span>  
                            </span>
                            <span class="d-block">
                                <span class="font-weight-bold lead font-size-12">
                                    (55) 000 000 00
                                </span>
                            </span>
                       </span>
                    </a>
                </span>
            </nav>
        </div>
    </div>
</div>
</template>
<style>
.mejorseguro{background: #75417b;}
.no-text-decoration{text-decoration:none}
.no-text-decoration:hover,
.no-text-decoration:active{text-decoration:none}
.line-height-1{line-height:1}
.img-nivel-min-width{min-width:154px!important}
.text-blue-asmx-2{color: #395B83;}
.font-size-11{font-size: 11px;}.font-size-1-5-rem{font-size: 1.5rem;}
.font-size-10{font-size:10px!important;}
.font-size-09{font-size:9px;}
.font-size-12{font-size:12px!important;}
.font-size-14{font-size:14px;}
.line-height-1{line-height:1;}
.imlogoahorrasegurosnew{max-width:220px;height:auto;display:inline-block;}
</style>
