<template lang="pug">
    .container.py-5
        .col-md-11
            h2 DOCUMENTOS {{this.$route.query}}
</template>
<script>
    //ejemplo terminal url  "thankyouTerminal"
    //http://127.0.0.1:3200/thankyouTerminal/?idt=CIANNE190220012559&nCon=8788&Seg=674545&Pol=00000765456789&Res=1
    import wsFindEmision from '~/plugins/ws-find-emision'
    import wsRegistro from '~/plugins/ws-save-registro'
    import wsPago from '~/plugins/ws-save-pago'
    import wsDatosPago from '~/plugins/ws-save-datos-pago'

    export default {
        created: function() {
            wsFindEmision.findEmision(this.$route.query.idt)
                .then(reser => {
                    console.log("findEmision---");
                    this.$store.state.respuestaEmision = JSON.parse(reser.respuesta)
                    this.$store.state.emision = JSON.parse(reser.peticion)

                    /*VALIDAR QUE RESP TENGA DATOS Y QUE EL NUMERO DE POLIZA NO ESTE EN NULL*/
                    this.$store.state.datosRegistroDb.registro.numPoliza = this.$route.query.Pol
                    this.$store.state.datosRegistroDb.registro.idAseguradora = reser.idAseguradora
                    this.$store.state.datosRegistroDb.registro.idEjecutivo = 1
                    this.$store.state.datosRegistroDb.registro.numSerie = this.$store.state.emision.Vehiculo.NoSerie
                    this.$store.state.datosRegistroDb.registro.numeroMotor = this.$store.state.emision.Vehiculo.NoMotor
                    this.$store.state.datosRegistroDb.registro.numeroPlacas = this.$store.state.emision.Vehiculo.NoPlacas
                    this.$store.state.datosRegistroDb.registro.primaNeta = this.$store.state.emision.Emision.PrimaNeta
                    this.$store.state.datosRegistroDb.registro.primaTotal = this.$store.state.emision.Emision.PrimaTotal
                    this.$store.state.datosRegistroDb.registro.clientePaterno = this.$store.state.emision.Cliente.ApellidoPat
                    this.$store.state.datosRegistroDb.registro.clienteMaterno = this.$store.state.emision.Cliente.ApellidoMat
                    this.$store.state.datosRegistroDb.registro.clienteNombre = this.$store.state.emision.Cliente.Nombre
                    this.$store.state.datosRegistroDb.registro.clienteRfc = this.$store.state.emision.Cliente.RFC
                    this.$store.state.datosRegistroDb.registro.clienteCp = this.$store.state.emision.Cliente.Direccion.CodPostal
                    this.$store.state.datosRegistroDb.registro.clienteTelefono = this.$store.state.emision.Cliente.Telefono
                    this.$store.state.datosRegistroDb.registro.clienteTelefonoOp = this.$store.state.emision.Cliente.Telefono
                    this.$store.state.datosRegistroDb.registro.clienteCorreo = this.$store.state.emision.Cliente.Email
                    this.$store.state.datosRegistroDb.registro.clienteCorreoOp = this.$store.state.emision.Cliente.Email
                    this.$store.state.datosRegistroDb.registro.fechaNac = new Date(this.$store.state.emision.Cliente.FechaNacimiento).toISOString().slice(0, 10)
                    this.$store.state.datosRegistroDb.registro.clienteCalle = this.$store.state.emision.Cliente.Direccion.Calle
                    this.$store.state.datosRegistroDb.registro.clienteEstado = this.$store.state.emision.Cliente.Poblacion
                    this.$store.state.datosRegistroDb.registro.clienteDelgMun = this.$store.state.emision.Cliente.Ciudad
                    this.$store.state.datosRegistroDb.registro.clienteNumInt = this.$store.state.emision.Cliente.Direccion.NoInt
                    this.$store.state.datosRegistroDb.registro.clienteNumExt = this.$store.state.emision.Cliente.Direccion.NoExt
                    this.$store.state.datosRegistroDb.registro.clienteColonia = this.$store.state.emision.Cliente.Direccion.Colonia
                    this.$store.state.datosRegistroDb.registro.clienteGenero = this.$store.state.emision.Cliente.Genero.charAt(0)
                    this.$store.state.datosRegistroDb.registro.idSolicitud = reser.idSolicitud
                    this.$store.state.datosRegistroDb.registro.anio = this.$store.state.emision.Vehiculo.Modelo
                    this.$store.state.datosRegistroDb.registro.marca = this.$store.state.emision.Vehiculo.Marca
                    this.$store.state.datosRegistroDb.registro.submarca = this.$store.state.emision.Vehiculo.Descripcion
                    this.$store.state.datosRegistroDb.registro.idMarcaCliente = 6065
                    this.$store.state.datosRegistroDb.registro.idSubmarcaCliente = 1808111
                    this.$store.state.datosRegistroDb.registro.idDatosInspeccion = 11


                    /*DATOS PAGO*/
                    this.$store.state.datosRegistroDb.datosPago.referencia = "Emitido y Cobrado desde WS"
                    this.$store.state.datosRegistroDb.datosPago.numAutorizacion = ""
                    this.$store.state.datosRegistroDb.datosPago.numeroDeTarjeta = ""
                    this.$store.state.datosRegistroDb.datosPago.vencimiento = "0000-00-00"
                    this.$store.state.datosRegistroDb.datosPago.titular = ""
                    this.$store.state.datosRegistroDb.datosPago.codigoSeg = ""
                    this.$store.state.datosRegistroDb.datosPago.idCarrier = ""
                    this.$store.state.datosRegistroDb.datosPago.carrier = ""
                    this.$store.state.datosRegistroDb.datosPago.meses = 1
                    this.$store.state.datosRegistroDb.datosPago.idMetodoPago = 5
                    this.$store.state.datosRegistroDb.datosPago.idBanco = 15
                    this.$store.state.datosRegistroDb.datosPago.bancoAbreviacion = ""
                    this.$store.state.datosRegistroDb.datosPago.idTipoTDC = 0

                    /*SE ALMACENAN LOS DATOS DE LA EMISION EN LA BASE DE DATOS*/
                    wsRegistro.saveRegistro(JSON.stringify(this.$store.state.datosRegistroDb.registro))
                        .then(respr => {
                            console.log("SAVE - REGISTRO");
                            /*VALIDAR QUE SE INSERTE CORRECTAMENTE LA POLIZA EN LA TABLA REGISTRO*/
                            wsDatosPago.saveDatosPago(JSON.stringify(this.$store.state.datosRegistroDb.datosPago))
                                .then(respdp => {

                                    console.log("SAVE - DATOSPAGO");
                                    /*PAGO*/
                                    this.$store.state.datosRegistroDb.pago.cantidad = this.$store.state.emision.Cotizacion.PrimaTotal
                                    this.$store.state.datosRegistroDb.pago.archivo = ""
                                    this.$store.state.datosRegistroDb.pago.aplicado = 1
                                    this.$store.state.datosRegistroDb.pago.corregido = 0
                                    this.$store.state.datosRegistroDb.pago.mesaControl = null
                                    this.$store.state.datosRegistroDb.pago.comentarios = "Pago registrado automáticamente mediante WS"
                                    this.$store.state.datosRegistroDb.pago.seriePago = 1
                                    this.$store.state.datosRegistroDb.pago.idEjecutivo = 1
                                    this.$store.state.datosRegistroDb.pago.idDatosPago = respdp.idDatosPago
                                    this.$store.state.datosRegistroDb.pago.numPoliza = this.$route.query.Pol
                                    this.$store.state.datosRegistroDb.pago.idAseguradora = reser.idAseguradora
                                    this.$store.state.datosRegistroDb.pago.idEstadoNomina = 2

                                    wsPago.savePago(JSON.stringify(this.$store.state.datosRegistroDb.pago))
                                        .then(respp => {
                                            console.log("SAVE - PAGO");

                                        })
                                })
                        })

                })
        }

    }
</script>
